<div class="pub-note">
    <sup>#</sup> Equal contribution, * Corresponding author.
</div>

<div class="pub-scroll-container">


<div class="pub-item">
<div class="pub-title">
    MPQ-DMv2: Flexible Residual Mixed Precision Quantization for Low-Bit Diffusion Models with Temporal Distillation
</div>
<div class="pub-authors">
    Weilun Feng, Chuanguang Yang, Haotong Qin, Yuqi Li, Xiangqi Li, Zhulin An, <strong>Libo Huang</strong>, Boyu Diao, Fuzhen Zhuang, Michele Magno, Yongjun Xu, Yingli Tian, Tingwen Huang
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE Transactions on Pattern Analysis and Machine IntelligencePage (IEEE TPAMI), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <!-- <a target="_blank" class="pub-btn" href="xxxx"><i class="fa-solid fa-file-pdf"></i> PDF</a> -->
     <a target="_blank" class="pub-btn" href="https://arxiv.org/pdf/2507.04290"><i class="fa-solid fa-file-lines"></i> arXiv</a>
    <!-- <a target="_blank" class="pub-btn" href="https://github.com/libo-huang/preprompt"><i class="fa-brands fa-github"></i> Code</a> -->
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{feng2025mpq,
  title={Mpq-dmv2: Flexible residual mixed precision quantization for low-bit diffusion models with temporal distillation},
  author={Feng, Weilun and Yang, Chuanguang and Qin, Haotong and Li, Yuqi and Li, Xiangqi and An, Zhulin and Huang, Libo and Diao, Boyu and Zhuang, Fuzhen and Magno, Michele and others},
  journal={arXiv preprint arXiv:2507.04290},
  year={2025}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>

 
<div class="pub-item">
<div class="pub-title">
    PrePrompt: Predictive Prompting for Class Incremental Learning
</div>
<div class="pub-authors">
    <strong>Libo Huang</strong> , Xiangqi Li, Jiarui Zhao, Zhulin An*, Chuanguang Yang, Boyu Diao, Fei Wang, Yan Zeng, Zhifeng Hao, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    SIGKDD Conference on Knowledge Discovery and Data Mining (KDD), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <!-- <a target="_blank" class="pub-btn" href="xxxx"><i class="fa-solid fa-file-pdf"></i> PDF</a> -->
     <a target="_blank" class="pub-btn" href="https://libo-huang.github.io/preprompt/"><i class="fa-solid fa-rocket"></i> Project</a>
     <a target="_blank" class="pub-btn" href="https://arxiv.org/abs/2505.08586"><i class="fa-solid fa-file-lines"></i> arXiv</a>
    <a target="_blank" class="pub-btn" href="https://github.com/libo-huang/preprompt"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{huang2026preprompt,
  title={PrePrompt: Predictive prompting for class incremental learning},
  author={Libo Huang, Xiangqi Li, Jiarui Zhao, Zhulin An, Chuanguang Yang, Boyu Diao, Fei Wang, Yan Zeng, Zhifeng Hao, Yongjun Xu},
  booktitle={Proceedings of the 31st ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD)},
  year={2026}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>
   


<div class="pub-item">
<div class="pub-title">
    WorldCache: Accelerating World Models for Free via Heterogeneous Token Caching
</div>
<div class="pub-authors">
    Weilun Feng, Guoxin Fan, Haotong Qin, Chuanguang Yang, Mingqiang Wu, Yuqi Li, Xiangqi Li, Zhulin An, <strong>Libo Huang</strong>, Dingrui Wang, Longlong Liao, Michele Magno, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    International Conference on Machine Learning (ICML), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <!-- <a target="_blank" class="pub-btn" href="xxxxx"><i class="fa-solid fa-file-pdf"></i> PDF</a> -->
    <a target="_blank" class="pub-btn" href="https://arxiv.org/pdf/2603.06331"><i class="fa-solid fa-file-lines"></i> arXiv</a>
    <a target="_blank" class="pub-btn" href="https://github.com/FofGofx/WorldCache"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{feng2026worldcache,
  title={WorldCache: Accelerating World Models for Free via Heterogeneous Token Caching},
  author={Feng, Weilun and Fan, Guoxin and Qin, Haotong and Yang, Chuanguang and Wu, Mingqiang and Li, Yuqi and Li, Xiangqi and An, Zhulin and Huang, Libo and Wang, Dingrui and others},
  journal={arXiv preprint arXiv:2603.06331},
  year={2026}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>



<div class="pub-item">
<div class="pub-title">
    Fast-SAM3D: 3Dfy Anything in Images but Faster
</div>
<div class="pub-authors">
    Weilun Feng, Mingqiang Wu, Zhiliang Chen, Chuanguang Yang, Haotong Qin, Yuqi Li, Xiaokun Liu, Guoxin Fan, Zhulin An, <strong>Libo Huang</strong>, Yulun Zhang, Michele Magno, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    International Conference on Machine Learning (ICML), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <!-- <a target="_blank" class="pub-btn" href="xxxxxx"><i class="fa-solid fa-file-pdf"></i> PDF</a> -->
    <a target="_blank" class="pub-btn" href="https://arxiv.org/pdf/2602.05293"><i class="fa-solid fa-file-lines"></i> arXiv</a>
    <a target="_blank" class="pub-btn" href="https://github.com/wlfeng0509/Fast-SAM3D"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{feng2026fast,
  title={Fast-SAM3D: 3Dfy Anything in Images but Faster},
  author={Feng, Weilun and Wu, Mingqiang and Chen, Zhiliang and Yang, Chuanguang and Qin, Haotong and Li, Yuqi and Liu, Xiaokun and Fan, Guoxin and An, Zhulin and Huang, Libo and others},
  journal={arXiv preprint arXiv:2602.05293},
  year={2026}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>



<div class="pub-item">
<div class="pub-title">
    DFM: Difference Feature Modeling with Text-Guided Gated Contrastive Loss for Remote Sensing Image Change Captioning
</div>
<div class="pub-authors">
    Yelin Wang, Zijia Song, Chuanguang Yang, Miaoyu Wang, Zhulin An, <strong>Libo Huang</strong>, Yongjun Xu    
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE International Conference on Multimedia & Expo (ICME), 2026.
</div>
<div class="pub-actions">
    <!-- <a target="_blank" class="pub-btn" href="https://arxiv.org/abs/2510.27316"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/EMLS-ICTCAS/P2IOD"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button> -->
</div>
</div>
<pre class="code-block">
<!-- @article{an2025parameterized,
  title={Parameterized Prompt for Incremental Object Detection},
  author={An, Zijia and Diao, Boyu and Liu, Ruiqi and Huang, Libo and Yang, Chuanguang and Wang, Fei and An, Zhulin and Xu, Yongjun},
  journal={arXiv preprint arXiv:2510.27316},
  year={2025}
} -->
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>



<div class="pub-item">
<div class="pub-title">
    Representation-Steered Incremental Adapter-Tuning for Class-Incremental Learning with Pre-Trained Models
</div>
<div class="pub-authors">
    Jiarui Zhao, <strong>Libo Huang*</strong>, Xiangqi Li, Zhulin An*, Chuanguang Yang, Yu Wang, Boyu Diao, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    Conference on Computer Vision and Pattern Recognition (CVPR), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <!-- <a target="_blank" class="pub-btn" href="https://arxiv.org/abs/2510.27316"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/EMLS-ICTCAS/P2IOD"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button> -->
</div>
</div>
<pre class="code-block">
<!-- @article{an2025parameterized,
  title={Parameterized Prompt for Incremental Object Detection},
  author={An, Zijia and Diao, Boyu and Liu, Ruiqi and Huang, Libo and Yang, Chuanguang and Wang, Fei and An, Zhulin and Xu, Yongjun},
  journal={arXiv preprint arXiv:2510.27316},
  year={2025}
} -->
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>



<div class="pub-item">
<div class="pub-title">
    EfficientVPR: Toward Efficient Visual Place Recognition via Scene-Aware Prompt Tuning and Adaptive Feature Enhancement
</div>
<div class="pub-authors">
    Wenjing Tang, Chuanguang Yang, Zhulin An, <strong>Libo Huang</strong>, Boyu Diao, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    Conference on Computer Vision and Pattern Recognition (CVPR), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <!-- <a target="_blank" class="pub-btn" href="https://arxiv.org/abs/2510.27316"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/EMLS-ICTCAS/P2IOD"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button> -->
</div>
</div>
<pre class="code-block">
<!-- @article{an2025parameterized,
  title={Parameterized Prompt for Incremental Object Detection},
  author={An, Zijia and Diao, Boyu and Liu, Ruiqi and Huang, Libo and Yang, Chuanguang and Wang, Fei and An, Zhulin and Xu, Yongjun},
  journal={arXiv preprint arXiv:2510.27316},
  year={2025}
} -->
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>



<div class="pub-item">
<div class="pub-title">
    Parameterized Prompt for Incremental Object Detection
</div>
<div class="pub-authors">
    Zijia An, Boyu Diao, RuiQi Liu, <strong>Libo Huang</strong>, Chuanguang Yang, Fei Wang, Zhulin An, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    Conference on Computer Vision and Pattern Recognition (CVPR), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <!-- <a target="_blank" class="pub-btn" href="xxx"><i class="fa-solid fa-file-pdf"></i> PDF</a> -->
    <a target="_blank" class="pub-btn" href="https://arxiv.org/abs/2510.27316"><i class="fa-solid fa-file-lines"></i> arXiv</a>
    <a target="_blank" class="pub-btn" href="https://github.com/EMLS-ICTCAS/P2IOD"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{an2025parameterized,
  title={Parameterized Prompt for Incremental Object Detection},
  author={An, Zijia and Diao, Boyu and Liu, Ruiqi and Huang, Libo and Yang, Chuanguang and Wang, Fei and An, Zhulin and Xu, Yongjun},
  journal={arXiv preprint arXiv:2510.27316},
  year={2025}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>



<div class="pub-item">
<div class="pub-title">
    Distilling Out-of-Distribution Knowledge from Large Language Models for CLIP Generalization
</div>
<div class="pub-authors">
    Qiji Ma, Chuanguang Yang, Zhulin An, <strong>Libo Huang</strong>, Yuqi Li, Erhu Zhao, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    Conference on Computer Vision and Pattern Recognition (CVPR) findings, 2026.
</div>
<div class="pub-actions">
    <!-- <a target="_blank" class="pub-btn" href="https://openreview.net/forum?id=fhVfyiiAqt"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button> -->
</div>
</div>
<pre class="code-block">
<!-- @article{li2025point,
    title={Point-UQ: An Uncertainty-Quantification Paradigm for Point Cloud Few-Shot Class Incremental Learning},
    author={Li, Xiangqi and Huang, Libo and Zhao, Jiarui and Feng, Weilun and Yang, Chuanguang and An, Zhulin and Xu, Yongjun},
    journal={International Conference on Learning Representations (ICLR)},
    year={2026}
} -->
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>



<div class="pub-item">
<div class="pub-title">
    Point-UQ: An Uncertainty-Quantification Paradigm for Point Cloud Few-Shot Class Incremental Learning
</div>
<div class="pub-authors">
    Xiangqi Li, <strong>Libo Huang*</strong>, Jiarui Zhao, Weilun Feng, Chuanguang Yang, Zhulin An*, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    International Conference on Learning Representations (ICLR), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://openreview.net/forum?id=fhVfyiiAqt"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{li2025point,
    title={Point-UQ: An Uncertainty-Quantification Paradigm for Point Cloud Few-Shot Class Incremental Learning},
    author={Li, Xiangqi and Huang, Libo and Zhao, Jiarui and Feng, Weilun and Yang, Chuanguang and An, Zhulin and Xu, Yongjun},
    journal={International Conference on Learning Representations (ICLR)},
    year={2026}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





<div class="pub-item">
<div class="pub-title">
    QuantSparse: Comprehensively Compressing Video Diffusion Transformer with Model Quantization and Attention Sparsification
</div>
<div class="pub-authors">
    Weilun Feng, Chuanguang Yang, Haotong Qin, Mingqiang Wu, Yuqi Li, Xiangqi Li, Zhulin An, <strong>Libo Huang</strong>, Yulun Zhang, Michele Magno, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    International Conference on Learning Representations (ICLR), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://openreview.net/forum?id=4TAG3aQljJ"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/wlfeng0509/QuantSparse"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{feng2025quantsparse,
    title={QuantSparse: Comprehensively Compressing Video Diffusion Transformer with Model Quantization and Attention Sparsification},
    author={Feng, Weilun and Yang, Chuanguang and Qin, Haotong and Wu, Mingqiang and Li, Yuqi and Li, Xiangqi and An, Zhulin and Huang, Libo and Zhang, Yulun and Magno, Michele and others},
    journal={arXiv preprint arXiv:2509.23681},
    year={2025}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>



<div class="pub-item">
<div class="pub-title">
    Quantized Visual Geometry Grounded Transformer
</div>
<div class="pub-authors">
    Weilun Feng, Haotong Qin, Mingqiang Wu, Chuanguang Yang, Yuqi Li, Xiangqi Li, Zhulin An, <strong>Libo Huang</strong>, Yulun Zhang, Michele Magno, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    International Conference on Learning Representations (ICLR), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://openreview.net/forum?id=Xzcllrc6gb"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/wlfeng0509/QuantVGGT"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{feng2025quantized,
    title={Quantized Visual Geometry Grounded Transformer},
    author={Feng, Weilun and Qin, Haotong and Wu, Mingqiang and Yang, Chuanguang and Li, Yuqi and Li, Xiangqi and An, Zhulin and Huang, Libo and Zhang, Yulun and Magno, Michele and others},
    journal={arXiv preprint arXiv:2509.21302},
    year={2025}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>



<div class="pub-item">
<div class="pub-title">
    S<sup>2</sup>Q-VDiT: Accurate Quantized Video Diffusion Transformer with Salient Data and Sparse Token Distillation
</div>
<div class="pub-authors">
    Weilun Feng, Haotong Qin, Chuanguang Yang, Xiangqi Li, Han Yang, Yuqi Li, Zhulin An, <strong>Libo Huang</strong>, Michele Magno, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    Annual Conference on Neural Information Processing Systems (NeurIPS), 2026. [CCF-A]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://openreview.net/forum?id=e8pm93koQU"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/wlfeng0509/s2q-vdit"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{feng2025s,
    title={S $\^{} 2$ Q-VDiT: Accurate Quantized Video Diffusion Transformer with Salient Data and Sparse Token Distillation},
    author={Feng, Weilun and Qin, Haotong and Yang, Chuanguang and Li, Xiangqi and Yang, Han and Li, Yuqi and An, Zhulin and Huang, Libo and Magno, Michele and Xu, Yongjun},
    journal={arXiv preprint arXiv:2508.04016},
    year={2025}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>






<div class="pub-item">
<div class="pub-title">
    Q-VDiT: Towards Accurate Quantization of Video-Generation Diffusion Transformers
</div>
<div class="pub-authors">
    Weilun Feng, Chuanguang Yang, Haotong Qin, Xiangqi Li, Yu Wang, Zhulin An, <strong>Libo Huang</strong>, Boyu Diao, Zixiang Zhao, Yongjun Xu, Michele Magno
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    International Conference on Machine Learning (ICML), 2025. [CCF-A]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://proceedings.mlr.press/v267/feng25q.html"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/wlfeng0509/Q-VDiT"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{feng2025q,
    title={Q-VDiT: Towards Accurate Quantization and Distillation of Video-Generation Diffusion Transformers},
    author={Feng, Weilun and Yang, Chuanguang and Qin, Haotong and Li, Xiangqi and Wang, Yu and An, Zhulin and Huang, Libo and Diao, Boyu and Zhao, Zixiang and Xu, Yongjun and others},
    booktitle={International Conference on Machine Learning},
    pages={16956--16976},
    year={2025},
    organization={PMLR}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>




<div class="pub-item">
<div class="pub-title">
    Geometric Feature Embedding for Effective 3D Few-Shot Class Incremental Learning
</div>
<div class="pub-authors">
    Xiangqi Li<sup>#</sup>, <strong>Libo Huang<sup>#</sup></strong>, Zhulin An*, Weilun Feng, Chuanguang Yang, Boyu Diao, Fei Wang, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    International Conference on Machine Learning (ICML), 2025. [CCF-A]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://proceedings.mlr.press/v267/li25ad.html"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/lixiangqi707/3D-FLEG"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{li2025geometric,
    title={Geometric Feature Embedding for Effective 3D Few-Shot Class Incremental Learning},
    author={Li, Xiangqi and Huang, Libo and An, Zhulin and Feng, Weilun and Yang, Chuanguang and Diao, Boyu and Wang, Fei and Xu, Yongjun},
    booktitle={International Conference on Machine Learning},
    pages={34674--34687},
    year={2025},
    organization={PMLR}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





<div class="pub-item">
<div class="pub-title">
    Low-Redundancy Distillation for Continual Learning
</div>
<div class="pub-authors">
    Ruiqi Liu, Boyu Diao, <strong>Libo Huang</strong>, Zijia An, Hangda Liu, Zhulin An, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    Pattern Recognition (PR), 2025. [JCR-Q1]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://www.sciencedirect.com/science/article/pii/S0031320325003723"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/EMLS-ICTCAS/LoRD"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{liu2025low,
    title={Low-Redundancy Distillation for Continual Learning},
    author={Liu, Ruiqi and Diao, Boyu and Huang, Libo and An, Zijia and Liu, Hangda and An, Zhulin and Xu, Yongjun},
    journal={Pattern Recognition},
    pages={111712},
    year={2025},
    publisher={Elsevier}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





<div class="pub-item">
<div class="pub-title">
    AF-YOLO: Asymptotic Feature Extraction and Fusion for Aerial Object Detection
</div>
<div class="pub-authors">
    Lve Huang, Xiaowei Yu, Huabiao Yan, <strong>Libo Huang*</strong>, Zhulin An, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE Transactions on Circuits and Systems for Video Technology (IEEE TCSVT), 2025. [JCR-Q1]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/abstract/document/11112613/"><i class="fa-solid fa-file-pdf"></i>PDF</a>
    <a target="_blank" class="pub-btn" href="http://github.com/xiaojiu143/AF-YOLO"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{huang2026af,
    title={AF-YOLO: Asymptotic Feature Extraction and Fusion for Aerial Object Detection},
    author={Huang, Lve and Yu, Xiaowei and Yan, Huabiao and Huang, Libo and An, Zhulin and Xu, Yongjun},
    journal={IEEE Transactions on Circuits and Systems for Video Technology},
    year={2026},
    volume={36},
    number={1},
    pages={63-78},
    publisher={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>




<div class="pub-item">
<div class="pub-title">
    TCMP-300: A Comprehensive Traditional Chinese Medicinal Plant Dataset for Plant Recognition
</div>
<div class="pub-authors">
    Yanling Zhang, Wanhui Sun, Chuanguang Yang*, <strong>Libo Huang*</strong>, Zhulin An*, Weilun Feng, Wenjing Tang, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    Scientific Data, 2025. [JCR-Q1]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://www.nature.com/articles/s41597-025-05522-7.pdf"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/winycg/TCMP-300"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{zhang2025tcmp,
    title={TCMP-300: A Comprehensive Traditional Chinese Medicinal Plant Dataset for Plant Recognition},
    author={Zhang, Yanling and Sun, Wanhui and Yang, Chuanguang and Huang, Libo and An, Zhulin and Feng, Weilun and Tang, Wenjing and Xu, Yongjun},
    journal={Scientific Data},
    volume={12},
    number={1},
    pages={1166},
    year={2025},
    publisher={Nature Publishing Group UK London}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>






<div class="pub-item">
<div class="pub-title">
    Foundation Models and Intelligent Decision-Making: Progress, Challenges, and Perspectives
</div>
<div class="pub-authors">
    Jincai Huang<sup>#</sup>, Yongjun Xu<sup>#</sup>, Qi Wang<sup>#</sup>,  Qi (Cheems) Wang<sup>#</sup>, Xingxing Liang<sup>#</sup>, Fei Wang<sup>#</sup>, Zhao Zhang<sup>#</sup>, Wei Wei<sup>#</sup>, Boxuan Zhang<sup>#</sup>, <strong>Libo Huang<sup>#</sup></strong>, etc.
</div>
<div class="pub-bottom-row">
    <div class="pub-venue">
        The Innovation, 2025. [JCR-Q1]
    </div>
    <div class="pub-actions">
        <span class="pub-badge" style="background-color: #8e44ad;">Cover Paper</span>
        <a target="_blank" class="pub-btn" href="https://www.cell.com/the-innovation/fulltext/S2666-6758(25)00151-1"><i class="fa-solid fa-file-pdf"></i> PDF</a>
        <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
    </div>
</div>
<pre class="code-block">
@article{HUANG2025100948,
    title = {Foundation Models and Intelligent Decision-Making: Progress, Challenges, and Perspectives},
    journal = {The Innovation},
    pages = {100948},
    year = {2025},
    issn = {2666-6758},
    author = {Jincai Huang and Yongjun Xu, etc.},
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





<div class="pub-item">
<div class="pub-title">
    Classification-Based False Alarm Suppression for SAR Target Detection
</div>
<div class="pub-authors">
    Nan Yang, <strong>Libo Huang*</strong>, Zhulin An, Yongjun Xu, Xia Hong, Wing-Kuen Ling
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE International Symposium on Circuits and Systems (ISCAS), 2025
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/abstract/document/11043329"><i class="fa-solid fa-file-pdf"></i>PDF</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{yang2025classification,
    title={Classification-Based False Alarm Suppression for SAR Target Detection},
    author={Yang, Nan and Huang, Libo and An, Zhulin and Xu, Yongjun and Hong, Xia and Ling, Wing-Kuen},
    booktitle={2025 IEEE International Symposium on Circuits and Systems (ISCAS)},
    pages={1--5},
    year={2025},
    organization={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





<div class="pub-item">
<div class="pub-title">
    HSRDiff: A Hierarchical Self-Regulation Diffusion Model for Stochastic Semantic Segmentation
</div>
<div class="pub-authors">
    Han Yang, Chuanguang Yang, Zhulin An, <strong>Libo Huang</strong>, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    AAAI Conference on Artificial Intelligence (AAAI), 2025. [CCF-A]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ojs.aaai.org/index.php/AAAI/article/view/32163"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/yanghan-yh/HSRDiff"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{yang2025hsrdiff,
    title={HSRDiff: A Hierarchical Self-Regulation Diffusion Model for Stochastic Semantic Segmentation},
    author={Yang, Han and Yang, Chuanguang and An, Zhulin and Huang, Libo and Xu, Yongjun},
    booktitle={Proceedings of the AAAI Conference on Artificial Intelligence (AAAI)},
    volume={39},
    number={2},
    pages={1701--1709},
    year={2025}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>






<div class="pub-item">
<div class="pub-title">
    Multi-Teacher Knowledge Distillation with Reinforcement Learning for Visual Recognition
</div>
<div class="pub-authors">
    Chuanguang Yang, Xinqiang Yu, Han Yang, Zhulin An, Chengqing Yu, <strong>Libo Huang</strong>, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    AAAI Conference on Artificial Intelligence (AAAI), 2025. [CCF-A]
</div>
<div class="pub-actions">
    <span class="pub-badge">Oral</span>
    <a target="_blank" class="pub-btn" href="https://ojs.aaai.org/index.php/AAAI/article/view/32990"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/winycg/MTKD-RL"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{yang2025multi,
    title={Multi-Teacher Knowledge Distillation with Reinforcement Learning for Visual Recognition},
    author={Yang, Chuanguang and Yu, Xinqiang and Yang, Han and An, Zhulin and Yu, Chengqing and Huang, Libo and Xu, Yongjun},
    booktitle={Proceedings of the AAAI Conference on Artificial Intelligence (AAAI)},
    volume={39},
    number={9},
    pages={9148--9156},
    year={2025}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>






<div class="pub-item">
<div class="pub-title">
    MPQ-DM: Mixed Precision Quantization for Extremely Low Bit Diffusion Models
</div>
<div class="pub-authors">
    Weilun Feng, Haotong Qin, Chuanguang Yang, Zhulin An, <strong>Libo Huang</strong>, Boyu Diao, Fei Wang, Renshuai Tao, Yongjun Xu, Michele Magno
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    AAAI Conference on Artificial Intelligence (AAAI), 2025. [CCF-A]
</div>
<div class="pub-actions">
    <span class="pub-badge">Oral</span>
    <a target="_blank" class="pub-btn" href="https://ojs.aaai.org/index.php/AAAI/article/view/33823"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/cantbebetter2/MPQ-DM"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{feng2025mpq,
    title={MPQ-DM: Mixed Precision Quantization for Extremely Low Bit Diffusion Models},
    author={Feng, Weilun and Qin, Haotong and Yang, Chuanguang and An, Zhulin and Huang, Libo and Diao, Boyu and Wang, Fei and Tao, Renshuai and Xu, Yongjun and Magno, Michele},
    booktitle={Proceedings of the AAAI Conference on Artificial Intelligence (AAAI)},
    volume={39},
    number={16},
    pages={16595--16603},
    year={2025}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>






<div class="pub-item">
<div class="pub-title">
    OLN++: Improved Object Localization Network for Open-world Object Detection
</div>
<div class="pub-authors">
    Haonan Mai, <strong>Libo Huang*</strong>, Zhulin An*, Jiarui Zhao, Chuanguang Yang, Erhu Zhao, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), 2025
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10889938"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{mai2025oln++,
    title={OLN++: Improved Object Localization Network for Open-world Object Detection},
    author={Mai, Haonan and Huang, Libo and An, Zhulin and Zhao, Jiarui and Yang, Chuanguang and Zhao, Erhu and Xu, Yongjun},
    booktitle={ICASSP 2025-2025 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)},
    pages={1--5},
    year={2025},
    organization={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>






<div class="pub-item">
<div class="pub-title">
    IOR: Inversed Objects Replay for Incremental Object Detection
</div>
<div class="pub-authors">
    Zijia An, Boyu Diao, <strong>Libo Huang</strong>, Ruiqi Liu, Zhulin An, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), 2025
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10888892"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/JiaJia075/IOR"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{an2025ior,
    title={IOR: Inversed Objects Replay for Incremental Object Detection},
    author={An, Zijia and Diao, Boyu and Huang, Libo and Liu, Ruiqi and An, Zhulin and Xu, Yongjun},
    booktitle={ICASSP 2025-2025 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)},
    pages={1--5},
    year={2025},
    organization={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





<div class="pub-item">
<div class="pub-title">
    Multi-party Collaborative Attention Control for Image Customization
</div>
<div class="pub-authors">
    Han Yang, Chuanguang Yang, Qiuli Wang, Zhulin An, Weilun Feng, <strong>Libo Huang</strong>, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), 2025. [CCF-A]
</div>
<div class="pub-actions">
    <!-- <a target="_blank" class="pub-btn" href="xxx"><i class="fa-solid fa-file-pdf"></i> PDF</a> -->
    <a target="_blank" class="pub-btn" href="https://arxiv.org/pdf/2505.01428"><i class="fa-solid fa-file-lines"></i> arXiv</a>
    <a target="_blank" class="pub-btn" href="https://github.com/yanghan-yh/MCA-Ctrl"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{yang2025multi,
  title={Multi-party collaborative attention control for image customization},
  author={Yang, Han and Yang, Chuanguang and Wang, Qiuli and An, Zhulin and Feng, Weilun and Huang, Libo and Xu, Yongjun},
  booktitle={Proceedings of the Computer Vision and Pattern Recognition Conference},
  pages={7942--7951},
  year={2025}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>



<div class="pub-item">
<div class="pub-title">
    PDD: pruning neural networks during knowledge distillation
</div>
<div class="pub-authors">
    Xi Dan, Wenjie Yang, Fuyan Zhang, Yihang Zhou, Zhuojun Yu, Zhen Qiu, Boyuan Zhao, Zeyu Dong, <strong>Libo Huang*</strong> Chuanguang Yang*
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    Cognitive Computation, 2024. [JCR-Q1]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://link.springer.com/content/pdf/10.1007/s12559-024-10350-9.pdf"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/YihangZhou0424/PDD-Pruning-during-distillation"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{dan2024pdd,
  title={Pdd: pruning neural networks during knowledge distillation},
  author={Dan, Xi and Yang, Wenjie and Zhang, Fuyan and Zhou, Yihang and Yu, Zhuojun and Qiu, Zhen and Zhao, Boyuan and Dong, Zeyu and Huang, Libo and Yang, Chuanguang},
  journal={Cognitive Computation},
  volume={16},
  number={6},
  pages={3457--3467},
  year={2024},
  publisher={Springer}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>




<div class="pub-item">
<div class="pub-title">
    Continual Learning in the Frequency Domain
</div>
<div class="pub-authors">
    RuiQi Liu, Boyu Diao, <strong>Libo Huang</strong>, Zijia An, Zhulin An, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    Annual Conference on Neural Information Processing Systems (NeurIPS), 2024. [CCF-A]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://proceedings.neurips.cc/paper_files/paper/2024/file/9b224ace8963c9385ad5e2b5c9039b97-Paper-Conference.pdf"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/EMLS-ICTCAS/CLFD"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{liu2024continual,
    title={Continual Learning in the Frequency Domain},
    author={Liu, RuiQi and Diao, Boyu and Huang, Libo and An, Zijia and An, Zhulin and Xu, Yongjun},
    booktitle={Annual Conference on Neural Information Processing Systems (NeurIPS)},
    volume={37},
    pages={85389--85411},
    year={2024}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>







<div class="pub-item">
<div class="pub-title">
    A Survey on Causal Reinforcement Learning
</div>
<div class="pub-authors">
    Yan Zeng, Ruichu Cai, Fuchun Sun, <strong>Libo Huang</strong>, Zhifeng Hao
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE Transactions on Neural Networks and Learning Systems (IEEE TNNLS), 2024. [JCR-Q1]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10771589"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/libo-huang/Awesome-Causal-Reinforcement-Learning"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{zeng2024survey,
    title={A Survey on Causal Reinforcement Learning},
    author={Zeng, Yan and Cai, Ruichu and Sun, Fuchun and Huang, Libo and Hao, Zhifeng},
    journal={IEEE Transactions on Neural Networks and Learning Systems (IEEE TNNLS)},
    year={2024},
    volume={36},
    number={4},
    pages={5942-5962},
    publisher={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>






<div class="pub-item">
<div class="pub-title">
    Relational Diffusion Distillation For Efficient Image Generation
</div>
<div class="pub-authors">
    Weilun Feng, Chuanguang Yang, Zhulin An, <strong>Libo Huang</strong>, Boyu Diao, Fei Wang, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    ACM International Conference on Multimedia (ACM MM), 2024. [CCF-A]
</div>
<div class="pub-actions">
    <span class="pub-badge">Oral</span>
    <a target="_blank" class="pub-btn" href="https://dl.acm.org/doi/pdf/10.1145/3664647.3680768"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/cantbebetter2/RDD"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{feng2024relational,
    title={Relational Diffusion Distillation For Efficient Image Generation},
    author={Feng, Weilun and Yang, Chuanguang and An, Zhulin and Huang, Libo and Diao, Boyu and Wang, Fei and Xu, Yongjun},
    booktitle={Proceedings of the 32nd ACM International Conference on Multimedia (ACM MM)},
    pages={205--213},
    year={2024}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>







<div class="pub-item">
<div class="pub-title">
    Online Policy Distillation with Decision-Attention
</div>
<div class="pub-authors">Xinqiang Yu, Chuanguang Yang*, Chengqing Yu, <strong>Libo Huang*</strong>, Zhulin An*, Yongjun Xu</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    International Joint Conference on Neural Networks (IJCNN), 2024
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10651412"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{yu2024online,
    title={Online Policy Distillation with Decision-Attention},
    author={Yu, Xinqiang and Yang, Chuanguang and Yu, Chengqing and Huang, Libo and An, Zhulin and Xu, Yongjun},
    booktitle={International Joint Conference on Neural Networks (IJCNN)},
    pages={1--8},
    year={2024},
    organization={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





<div class="pub-item">
<div class="pub-title">
    eTag: Class-Incremental Learning via Hierarchical Embedding Distillation and Task-Oriented Generation
</div>
<div class="pub-authors">
    <strong>Libo Huang</strong>, Yan Zeng, Chuanguang Yang, Zhulin An*, Boyu Diao, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    AAAI Conference on Artificial Intelligence (AAAI), 2024. [CCF-A]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ojs.aaai.org/index.php/AAAI/article/view/29153"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://underline.io/lecture/91937-etag-class-incremental-learning-via-embedding-distillation-and-task-oriented-generation"><i class="fa-solid fa-file-powerpoint"></i> Slides</a>
    <a target="_blank" class="pub-btn" href="https://github.com/libo-huang/eTag"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{huang2024etag,
    title={eTag: Class-Incremental Learning via Embedding Distillation and Task-Oriented Generation},
    author={Huang, Libo and Zeng, Yan and Yang, Chuanguang and An, Zhulin and Diao, Boyu and Xu, Yongjun},
    booktitle={Proceedings of the AAAI Conference on Artificial Intelligence (AAAI)},
    volume={38},
    number={11},
    pages={12591--12599},
    year={2024}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>




<div class="pub-item">
<div class="pub-title">
    CLIP-KD: An Empirical Study of CLIP Model Distillation
</div>
<div class="pub-authors">
    Chuanguang Yang, Zhulin An, <strong>Libo Huang</strong>, Junyu Bi, Xinqiang Yu, Han Yang, Boyu Diao, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), 2024. [CCF-A]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://openaccess.thecvf.com/content/CVPR2024/papers/Yang_CLIP-KD_An_Empirical_Study_of_CLIP_Model_Distillation_CVPR_2024_paper.pdf"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/winycg/CLIP-KD"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{yang2024clip,
    title={CLIP-KD: An Empirical Study of CLIP Model Distillation},
    author={Yang, Chuanguang and An, Zhulin and Huang, Libo and Bi, Junyu and Yu, Xinqiang and Yang, Han and Diao, Boyu and Xu, Yongjun},
    booktitle={Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR)},
    pages={15952--15962},
    year={2024}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>




<div class="pub-item">
<div class="pub-title">
    KFC: Knowledge Reconstruction and Feedback Consolidation Enable Efficient and Effective Continual Generative Learning
</div>
<div class="pub-authors">
    <strong>Libo Huang</strong>, Zhulin An*, Yan Zeng, Xiang Zhi, Yongjun Xu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    International Conference on Learning Representations (ICLR) Tiny Papers Track, 2024
</div>
<div class="pub-actions">
    <span class="pub-badge">Oral</span>
    <a target="_blank" class="pub-btn" href="https://openreview.net/pdf?id=pVTcR8ig3R"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/libo-huang/KFC"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{huang2024kfc,
    title={KFC: Knowledge Reconstruction and Feedback Consolidation Enable Efficient and Effective Continual Generative Learning},
    author={Huang, Libo and An, Zhulin and Zeng, Yan and Xu, Yongjun and others},
    booktitle={International Conference on Learning Representations (ICLR) Tiny Papers Track},
    year={2024}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>




<div class="pub-item">
<div class="pub-title">
    Automatical Spike Sorting with Low-Rank and Sparse Representation
</div>
<div class="pub-authors">
    <strong>Libo Huang</strong>, Lu Gan, Yan Zeng, Bingo Wing-Kuen Ling*
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE Transactions on Biomedical Engineering (IEEE TBE), 2023. [JCR-Q1]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10374166"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{huang2023automatical,
    title={Automatical Spike Sorting with Low-Rank and Sparse Representation},
    author={Huang, Libo and Gan, Lu and Zeng, Yan and Ling, Bingo Wing-Kuen},
    journal={IEEE Transactions on Biomedical Engineering (IEEE TBE)},
    volume={71},
    number={5},
    pages={1677--1686},
    year={2023},
    publisher={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>




<div class="pub-item">
<div class="pub-title">
    Nonlinear Causal Discovery with Multiple High-Dimensional Observations
</div>
<div class="pub-authors">
    Yan Zeng, Zhifeng Hao, Ruichu Cai, Feng Xie, <strong>Libo Huang</strong>, Shohei Shimizu
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE Transactions on Neural Networks and Learning Systems (IEEE TNNLS), 2021. [JCR-Q1]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9528890"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/YanaZeng/HDDM"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{zeng2021nonlinear,
    title={Nonlinear Causal Discovery with Multiple High-Dimensional Observations},
    author={Zeng, Yan and Hao, Zhifeng and Cai, Ruichu and Xie, Feng and Huang, Libo and Shimizu, Shohei},
    journal={IEEE Transactions on Neural Networks and Learning Systems (IEEE TNNLS)},
    volume={34},
    number={5},
    pages={2234--2245},
    year={2021},
    publisher={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





<div class="pub-item">
<div class="pub-title">
    A Unified Optimization Model of Feature Extraction and Clustering for Spike Sorting
</div>
<div class="pub-authors">
    <strong>Libo Huang</strong>, Lu Gan, Bingo Wing-Kuen Ling*
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE Transactions on Neural Systems and Rehabilitation Engineering (IEEE TNSRE), 2021. [JCR-Q1]
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9408665"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://github.com/libo-huang/Unified-SS"><i class="fa-brands fa-github"></i> Code</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{huang2021unified,
    title={A Unified Optimization Model of Feature Extraction and Clustering for Spike Sorting},
    author={Huang, Libo and Gan, Lu and Ling, Bingo Wing-Kuen},
    journal={IEEE Transactions on Neural Systems and Rehabilitation Engineering (IEEE TNSRE)},
    volume={29},
    pages={750--759},
    year={2021},
    publisher={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





<div class="pub-item">
<div class="pub-title">
    Spike Sorting Based On Low-Rank And Sparse Representation
</div>
<div class="pub-authors">
    <strong>Libo Huang</strong>, Bingo Wing-Kuen Ling*, Yan Zeng, Lu Gan
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE International Conference on Multimedia and Expo (ICME), 2020
</div>
<div class="pub-actions">
    <span class="pub-badge">Oral</span>
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9102837"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <a target="_blank" class="pub-btn" href="https://drive.google.com/file/d/1WpeTHbhCtw9ptyd2cZQ1rIysWMk4Btt-/view"><i class="fa-solid fa-file-powerpoint"></i> Slides</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{huang2020spike,
    title={Spike Sorting Based On Low-Rank And Sparse Representation},
    author={Huang, Libo and Ling, Bingo Wing-Kuen and Zeng, Yan and Gan, Lu},
    booktitle={IEEE International Conference on Multimedia and Expo (ICME)},
    pages={1--6},
    year={2020},
    organization={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





<div class="pub-item">
<div class="pub-title">
    基于CUDA的多信道锋电位实时分类方法
</div>
<div class="pub-authors">
    蔡瑞初, 赵坤垚*, <strong>黄礼泊</strong>, 何炯, 陈瑶
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    计算机工程与设计, 2020
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://cstj.cqvip.com/Qikan/Article/Detail?id=7100912272&from=Qikan_Search_Index"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{ruicc2020cuda,
    title={基于CUDA的多信道锋电位实时分类方法},
    author={蔡瑞初, 赵坤垚, <strong>黄礼泊</strong>, 何炯, 陈瑶},
    journal={计算机工程与设计},
    volume={41},
    number={2},
    pages={391--396},
    year={2020}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>







<div class="pub-item">
<div class="pub-title">
    WMsorting: Wavelet Packets' Decomposition and Mutual Information-based Spike Sorting Method
</div>
<div class="pub-authors">
    <strong>Libo Huang</strong>, Bingo Wing-Kuen Ling*, Ruichu Cai*, Yan Zeng, Jiong He, Yao Chen
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE Transactions on NanoBioscience (IEEE TNB), 2019
</div>
<div class="pub-actions">
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8681441"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@article{huang2019wmsorting,
    title={WMsorting: Wavelet Packets' Decomposition and Mutual Information-based Spike Sorting Method},
    author={Huang, Libo and Ling, Bingo Wing-Kuen and Cai, Ruichu and Zeng, Yan and He, Jiong and Chen, Yao},
    journal={IEEE Transactions on NanoBioscience (IEEE TNB)},
    volume={18},
    number={3},
    pages={283--295},
    year={2019},
    publisher={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>




<div class="pub-item">
<div class="pub-title">
    HASS: High Accuracy Spike Sorting with Wavelet Package Decomposition and Mutual Information
</div>
<div class="pub-authors">
    Yao Chen, <strong>Libo Huang*</strong>, Jiong He, Kunyao Zhao, Ruichu Cai, Zhifeng Hao
</div>
<div class="pub-bottom-row">
<div class="pub-venue">
    IEEE International Conference on Bioinformatics and Biomedicine (BIBM), 2018
</div>
<div class="pub-actions">
    <span class="pub-badge">Oral</span>
    <a target="_blank" class="pub-btn" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8621401"><i class="fa-solid fa-file-pdf"></i> PDF</a>
    <button class="pub-btn" onclick="toggleBibtex(this)"><i class="fa-solid fa-quote-left"></i> Cite</button>
</div>
</div>
<pre class="code-block">
@inproceedings{chen2018hass,
    title={HASS: High Accuracy Spike Sorting with Wavelet Package Decomposition and Mutual Information},
    author={Chen, Yao and Huang, Libo and He, Jiong and Zhao, Kunyao and Cai, Ruichu and Hao, Zhifeng},
    booktitle={IEEE International Conference on Bioinformatics and Biomedicine (BIBM)},
    pages={831--838},
    year={2018},
    organization={IEEE}
}
<button class="copy-button" onclick="copyToClipboard(this)">copy</button></pre>
</div>





</div>